html,
body {
  height: 100%;
}

body {
  font-family: "Courier New", monospace;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  justify-content: center;
}

main {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  font-weight: normal;
}

p {
  text-align: center;
}

img {
  vertical-align: middle;
}

a {
  text-align: center;
  font-size: 10px;
  color: #000;
  text-decoration: none;
}
